__pycache__/
.DS_Store/
.cache/
.vscode/
/myimage/
build/
/*/build/

# ESP32 build
/partitions.bin
/partitions.csv
/sdkconfig.old
/sdkconfig
/*/sdkconfig.old
/*/sdkconfig
/*.fw
/*.img
/*.zip
/*.7z
/*.rar
/*.tar
/*.tar.gz
/**/*.nes
/**/*.NES
/**/*.gba
/**/*.GBA
/**/*.gb
/**/*.GB
/**/*.gbc
/**/*.GBC
/**/*.sfc
/**/*.SFC
/**/*.smc
/**/*.SMC
/**/*.rom
/**/*.ROM
/**/*.7z
/**/*.zip
/**/*.rar
/**/*.tar
/**/*.tar.gz
/*.NES
/*.nes
/*.gba
/*.gb
/*.gbc

# SDL2 build
/sd
/stderr.txt
/stdout.txt
/gmon.out
/*.exe
